// REGULAR
@font-face {
  font-family: 'avenir';
  font-weight: 400;
  font-display: fallback;
  font-style: normal;
  src: url('./avenir/400.ttf')
      format('truetype'),
    url('./avenir/400.woff')
      format('woff'),
    url('./avenir/400.woff2')
      format('woff2');
}

// SEMI-BOLD
@font-face {
  font-family: 'avenir';
  font-weight: 600;
  font-display: fallback;
  font-style: normal;
  src: url('./avenir/600.ttf')
      format('truetype'),
    url('./avenir/600.woff')
      format('woff'),
    url('./avenir/600.woff2')
      format('woff2');
}

// BOLD
@font-face {
  font-family: 'avenir';
  font-weight: 700;
  font-display: fallback;
  font-style: normal;
  src: url('./avenir/700.ttf')
      format('truetype'),
    url('./avenir/700.woff')
      format('woff'),
    url('./avenir/700.woff2')
      format('woff2');
}